* iterator; it goes throught items that in a sequence or any other iterable item. strings, tuples, lists,built-in iterables in dictionaries such as keys or values

In [1]:
lst1 = [1,2,3,4,5,6,7,8,9,10]

In [4]:
for i in lst1:
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [5]:
for i in lst1:
    print('hello how are you')

hello how are you
hello how are you
hello how are you
hello how are you
hello how are you
hello how are you
hello how are you
hello how are you
hello how are you
hello how are you

In [7]:
23%2 == 1

True

In [8]:
for i in lst1:
    if i%2 == 1:
        print(i)  #odd number

1
3
5
7
9

In [9]:
for i in lst1:
    if i%2 == 1:
        print('Odd Number')
    else:
        print(i*2)

Odd Number
4
Odd Number
8
Odd Number
12
Odd Number
16
Odd Number
20

In [10]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
list_sum = 0

for i in lst1:
    list_sum = list_sum + i

print(list_sum)

55

In [13]:
st = 'This is HMLPA'

for letter in st:
    print(letter)

T
h
i
s

i
s

H
M
L
P
A

In [16]:
tup = (1,2,3,4,5)
lst = []
for t in tup:
    lst.append(t**2)
print(lst)

[1, 4, 9, 16, 25]

In [15]:
lst2 = [(2,4),(6,8),(10,12)]

for t1 in lst2:
    print(t1)

(2, 4)
(6, 8)
(10, 12)

In [17]:
#tuple unpacking
for k,v in lst2:
    print(k+v)

6
14
22

In [18]:
d = {'k1':1,'k2':2,'k3':3}
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [19]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [20]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [32]:
st = 'Machine Learning is the most used technology these days due to its ability to automate tasks, detect patterns and learn from Data. Python is the language that is extensively used in Machine Learning & Data Analytics applications. Therefore, this course is designed for students/researchers/faculties/working professionals in such a way that they can first learn the fundamentals of Python and its libraries required for the Data Analytics & Machine Learning Applications. Then, they will be taught a detailed course on Machine Learning starting from scratch. This course will make the participants efficient in using Python Libraries and Machine Learning models for various real-world applications. The skills acquired from this course along with the certification will enhance their employability and will open doors to exciting career prospects.'
st

'Machine Learning is the most used technology these days due to its ability to automate tasks, detect patterns and learn from Data. Python is the language that is extensively used in Machine Learning & Data Analytics applications. Therefore, this course is designed for students/researchers/faculties/working professionals in such a way that they can first learn the fundamentals of Python and its libraries required for the Data Analytics & Machine Learning Applications. Then, they will be taught a detailed course on Machine Learning starting from scratch. This course will make the participants efficient in using Python Libraries and Machine Learning models for various real-world applications. The skills acquired from this course along with the certification will enhance their employability and will open doors to exciting career prospects.'

In [33]:
lst = []
for i in st.replace('.','').replace(',','').replace('/',' ').split():
    lst.append(len(i))

In [34]:
lst

[7,
 8,
 2,
 3,
 4,
 4,
 10,
 5,
 4,
 3,
 2,
 3,
 7,
 2,
 8,
 5,
 6,
 8,
 3,
 5,
 4,
 4,
 6,
 2,
 3,
 8,
 4,
 2,
 11,
 4,
 2,
 7,
 8,
 1,
 4,
 9,
 12,
 9,
 4,
 6,
 2,
 8,
 3,
 8,
 11,
 9,
 7,
 13,
 2,
 4,
 1,
 3,
 4,
 4,
 3,
 5,
 5,
 3,
 12,
 2,
 6,
 3,
 3,
 9,
 8,
 3,
 3,
 4,
 9,
 1,
 7,
 8,
 12,
 4,
 4,
 4,
 2,
 6,
 1,
 8,
 6,
 2,
 7,
 8,
 8,
 4,
 7,
 4,
 6,
 4,
 4,
 3,
 12,
 9,
 2,
 5,
 6,
 9,
 3,
 7,
 8,
 6,
 3,
 7,
 10,
 12,
 3,
 6,
 8,
 4,
 4,
 6,
 5,
 4,
 3,
 13,
 4,
 7,
 5,
 13,
 3,
 4,
 4,
 5,
 2,
 8,
 6,
 9]

* print only words of even length

* write a program that prints the integers from 1 to 100 and for multiples of 3, print 'HMLPA' instead of the number, for multiples of 5, print 'Shreyas' instead of the number and multiple of both 3 and 5 print 'Bingo!!'

Enter something hereHey This has been excellent journey so far

In [29]:
for i in set(st.replace('.','').replace(',','').replace('/',' ').split()):
    if len(i)%2 == 0:
        print(i + '  -->> even length')

been  -->> even length
so  -->> even length
This  -->> even length

In [25]:
for n in range(1,100):
    if n%3 == 0 and n%5 == 0:
        print('Bingo!!')
    elif n%5 == 0:
        print('HMLPA')
        
    elif n%3 == 0 :
        print('Shreyas')
        
    else:
        print(n)

1
2
Shreyas
4
HMLPA
Shreyas
7
8
Shreyas
HMLPA
11
Shreyas
13
14
Bingo!!
16
17
Shreyas
19
HMLPA
Shreyas
22
23
Shreyas
HMLPA
26
Shreyas
28
29
Bingo!!
31
32
Shreyas
34
HMLPA
Shreyas
37
38
Shreyas
HMLPA
41
Shreyas
43
44
Bingo!!
46
47
Shreyas
49
HMLPA
Shreyas
52
53
Shreyas
HMLPA
56
Shreyas
58
59
Bingo!!
61
62
Shreyas
64
HMLPA
Shreyas
67
68
Shreyas
HMLPA
71
Shreyas
73
74
Bingo!!
76
77
Shreyas
79
HMLPA
Shreyas
82
83
Shreyas
HMLPA
86
Shreyas
88
89
Bingo!!
91
92
Shreyas
94
HMLPA
Shreyas
97
98
Shreyas