#### Map Function

map a function to an iterable object

In [1]:
def sq(num):
    return num**2

In [2]:
sq(3)

9

In [33]:
lst1 = [1,2,3,4]

In [5]:
list(map(sq,lst))

[1, 4, 9, 16]

In [6]:
def func1(mystr):
    if len(mystr) % 2 ==0:
        return 'even'
    else:
        return mystr[-1]

In [9]:
lst = ['John', 'Cindy','Sarah','David','Rahul','Shreyas']

In [10]:
list(map(func1,lst))

['even', 'y', 'h', 'd', 'l', 's']

In [15]:
import numpy as np
radius = [12,21,13,31,14,41]
def vol_sphere(rad):
    return np.round((4/3)*3.14*(rad**3),2)

In [16]:
list(map(vol_sphere,radius))

[7234.56, 38772.72, 9198.11, 124724.99, 11488.21, 288549.25]

#### Filter

return a function based on a condition that is True or False

In [20]:
def check_even(num):
    return num % 2 != 0

In [21]:
numbers = [1,2,3,4,5,6,7]

filter(check_even,numbers)

In [22]:
list(filter(check_even,numbers))

[1, 3, 5, 7]

##### Lambda Expressions

creates anonymuous ad-hoc functions without needing to properly define a function using def

In [23]:
def sq(num):
    result = num**2
    return result

In [24]:
def sq(num):
    return num**2

In [26]:
def sq2(num): return num**2

In [28]:
sq2(9)

81

In [30]:
sq5 = lambda num : num**2

In [31]:
sq5(9)

81

In [34]:
list(map(lambda x : x*12, lst1))

[12, 24, 36, 48]

In [37]:
lst

['John', 'Cindy', 'Sarah', 'David', 'Rahul', 'Shreyas']

In [36]:
list(filter(lambda x : len(x) == 5, lst))

['Cindy', 'Sarah', 'David', 'Rahul']

In [38]:
st = ['Shreyas','Shukla','IIT kgp', 'HMLPA']

In [41]:
list(map(lambda x : x[::-1], st))

['sayerhS', 'alkuhS', 'pgk TII', 'APLMH']

##### Use map and filter to square even number in a list

* list = [1,2,3,4,5,6,7,8,9,10,11,12]

In [46]:
l1 = [1,2,3,4,5,6,7,8,9,10,11,12]

l2 = list(filter(lambda x:x%2 == 0, l1))

In [47]:
list(map(lambda x:x**2,l2))

[4, 16, 36, 64, 100, 144]

In [48]:
list(map(lambda x:x**2,filter(lambda x:x%2 == 0, l1)))

[4, 16, 36, 64, 100, 144]

In [50]:
lst3 = ['Alan','Bob', 'Chetan', 'Deepesh']
list(map(lambda x:x.upper(),filter(lambda x:len(x)>4,lst3)))

['CHETAN', 'DEEPESH']