In [1]:
import numpy as np
import pandas as pd

In [3]:
#help(pd.Series)

#### Create Series from python objects

In [4]:
my_ind = ['India','Canada','Burma']
my_data = [1947,1867,1948]

In [5]:
my_ser = pd.Series(data=my_data)
my_ser

0    1947
1    1867
2    1948
dtype: int64

In [6]:
my_ser1 = pd.Series(data=my_data, index=my_ind)
my_ser1

India     1947
Canada    1867
Burma     1948
dtype: int64

In [8]:
random_data = np.random.randint(100,150,4)

In [9]:
names=['MP','RJ','WB','KL']

In [10]:
pd.Series(random_data,names)

MP    107
RJ    144
WB    112
KL    139
dtype: int64

In [11]:
pd.Series(names,random_data)

107    MP
144    RJ
112    WB
139    KL
dtype: object

In [12]:
pd.Series(index=names,data=random_data)

MP    107
RJ    144
WB    112
KL    139
dtype: int64

In [13]:
ages = {'Akshit':20,'Thesna':28,'Vijay':32,'Mallika':24}
pd.Series(ages)

Akshit     20
Thesna     28
Vijay      32
Mallika    24
dtype: int64

#### Key Ideas

In [14]:
y1 = {'J':80,'C':450,'I':200,'V':250}
y2 = {'A':100,'C':500,'I':210,'V':260}

In [15]:
ser_y1 = pd.Series(y1)
ser_y2 = pd.Series(y2)

In [16]:
ser_y1

J     80
C    450
I    200
V    250
dtype: int64

In [17]:
ser_y2

A    100
C    500
I    210
V    260
dtype: int64

In [18]:
#call values based on index names
ser_y1['I']

200

In [20]:
#Integer based location is also retained
ser_y1[2]

/var/folders/wl/v3x3g82n3b38s3cvwvtr0r7h0000gn/T/ipykernel_64344/2038621265.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser_y1[2]

200

In [21]:
ser_y1.keys()

Index(['J', 'C', 'I', 'V'], dtype='object')

In [22]:
ser_y1*3

J     240
C    1350
I     600
V     750
dtype: int64

In [23]:
ser_y1

J     80
C    450
I    200
V    250
dtype: int64

#### Between the two Series

In [25]:
ser_y1 + ser_y2

#pandas informs that there is a mismatch

A      NaN
C    950.0
I    410.0
J      NaN
V    510.0
dtype: float64

In [27]:
ser_y1

J     80
C    450
I    200
V    250
dtype: int64

In [28]:
ser_y2

A    100
C    500
I    210
V    260
dtype: int64

In [30]:
ser_y1.subtract(ser_y2,fill_value=10000)

A    9900.0
C     -50.0
I     -10.0
J   -9920.0
V     -10.0
dtype: float64