#### Python DateTime

In [1]:
from datetime import datetime

In [2]:
my_year = 2024
my_month = 6
my_day = 19
my_hour = 19
my_minute = 11
my_sec = 30

In [4]:
todays_date = datetime(year = my_year,month=my_month,day=my_day)

In [5]:
todays_date

datetime.datetime(2024, 6, 19, 0, 0)

In [6]:
todays_dt = datetime(year = my_year,month=my_month,day=my_day,hour = my_hour,minute = my_minute)

In [7]:
todays_dt

datetime.datetime(2024, 6, 19, 19, 11)

In [8]:
todays_dt.day

19

In [11]:
todays_dt.isoweekday()

3

In [12]:
todays_dt.isocalendar()

datetime.IsoCalendarDate(year=2024, week=25, weekday=3)

#### Convert to Datetime

In [13]:
import pandas as pd
myseries = pd.Series(['Nov 3, 2024','2024-06-19',None])
myseries

0    Nov 3, 2024
1     2024-06-19
2           None
dtype: object

In [15]:
type(myseries[0])

str

In [16]:
pd.to_datetime(myseries,format='mixed')

0   2024-11-03
1   2024-06-19
2          NaT
dtype: datetime64[ns]

In [17]:
pd.to_datetime(myseries,format='mixed')[0]

Timestamp('2024-11-03 00:00:00')

In [23]:
sample_date = '10-12-2000'

#10th of Dec or 12th of October?

In [26]:
pd.to_datetime(sample_date, dayfirst=True)

Timestamp('2000-12-10 00:00:00')

#### Custom Time String Formats

In [30]:
stylish_date = '12//Jan-*2024'

In [31]:
pd.to_datetime(stylish_date, format='%d//%b-*%Y')

Timestamp('2024-01-12 00:00:00')

#### DataSet

In [33]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv')

In [34]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    object
 1   MRTSSM4453USN  340 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.4+ KB

In [37]:
sales['DATE']= pd.to_datetime(sales['DATE'])

In [39]:
sales.iloc[0]['DATE']

Timestamp('1992-01-01 00:00:00')

In [41]:
sales['Month']=sales['DATE'].dt.month

In [45]:
sales.tail()

          DATE  MRTSSM4453USN  Month
335 2019-12-01           6630     12
336 2020-01-01           4388      1
337 2020-02-01           4533      2
338 2020-03-01           5562      3
339 2020-04-01           5207      4

In [48]:
#help(sales['DATE'].dt)

In [44]:
sales['DATE'].dt.isocalendar().week

0       1
1       5
2       9
3      14
4      18
       ..
335    48
336     1
337     5
338     9
339    14
Name: week, Length: 340, dtype: UInt32

In [47]:
sales['DATE'].dt.month_name()

0       January
1      February
2         March
3         April
4           May
         ...
335    December
336     January
337    February
338       March
339       April
Name: DATE, Length: 340, dtype: object