In [1]:
[x for x in 'word']

['w', 'o', 'r', 'd']

In [2]:
lst = []
st = 'word'
for i in st:
    lst.append(i)

In [3]:
st = 'Machine Learning is the most used technology these days due to its ability to automate tasks, detect patterns and learn from Data. Python is the language that is extensively used in Machine Learning & Data Analytics applications. Therefore, this course is designed for students/researchers/faculties/working professionals in such a way that they can first learn the fundamentals of Python and its libraries required for the Data Analytics & Machine Learning Applications. Then, they will be taught a detailed course on Machine Learning starting from scratch. This course will make the participants efficient in using Python Libraries and Machine Learning models for various real-world applications. The skills acquired from this course along with the certification will enhance their employability and will open doors to exciting career prospects.'

In [4]:
[len(x) for x in st.replace('.','').replace(',','').replace('/',' ').split()]

[7,
 8,
 2,
 3,
 4,
 4,
 10,
 5,
 4,
 3,
 2,
 3,
 7,
 2,
 8,
 5,
 6,
 8,
 3,
 5,
 4,
 4,
 6,
 2,
 3,
 8,
 4,
 2,
 11,
 4,
 2,
 7,
 8,
 1,
 4,
 9,
 12,
 9,
 4,
 6,
 2,
 8,
 3,
 8,
 11,
 9,
 7,
 13,
 2,
 4,
 1,
 3,
 4,
 4,
 3,
 5,
 5,
 3,
 12,
 2,
 6,
 3,
 3,
 9,
 8,
 3,
 3,
 4,
 9,
 1,
 7,
 8,
 12,
 4,
 4,
 4,
 2,
 6,
 1,
 8,
 6,
 2,
 7,
 8,
 8,
 4,
 7,
 4,
 6,
 4,
 4,
 3,
 12,
 9,
 2,
 5,
 6,
 9,
 3,
 7,
 8,
 6,
 3,
 7,
 10,
 12,
 3,
 6,
 8,
 4,
 4,
 6,
 5,
 4,
 3,
 13,
 4,
 7,
 5,
 13,
 3,
 4,
 4,
 5,
 2,
 8,
 6,
 9]

In [7]:
celsius = [0,10,20,1,34.5]

farenheit = [((9*x/5)+ 32) for x in celsius]
farenheit

[32.0, 50.0, 68.0, 33.8, 94.1]

In [8]:
[ y**2 for y in [len(x) for x in st.replace('.','').replace(',','').replace('/',' ').split()]]

[49,
 64,
 4,
 9,
 16,
 16,
 100,
 25,
 16,
 9,
 4,
 9,
 49,
 4,
 64,
 25,
 36,
 64,
 9,
 25,
 16,
 16,
 36,
 4,
 9,
 64,
 16,
 4,
 121,
 16,
 4,
 49,
 64,
 1,
 16,
 81,
 144,
 81,
 16,
 36,
 4,
 64,
 9,
 64,
 121,
 81,
 49,
 169,
 4,
 16,
 1,
 9,
 16,
 16,
 9,
 25,
 25,
 9,
 144,
 4,
 36,
 9,
 9,
 81,
 64,
 9,
 9,
 16,
 81,
 1,
 49,
 64,
 144,
 16,
 16,
 16,
 4,
 36,
 1,
 64,
 36,
 4,
 49,
 64,
 64,
 16,
 49,
 16,
 36,
 16,
 16,
 9,
 144,
 81,
 4,
 25,
 36,
 81,
 9,
 49,
 64,
 36,
 9,
 49,
 100,
 144,
 9,
 36,
 64,
 16,
 16,
 36,
 25,
 16,
 9,
 169,
 16,
 49,
 25,
 169,
 9,
 16,
 16,
 25,
 4,
 64,
 36,
 81]

In [9]:
[z/5 for z in [((9*x/5)+ 32) for x in celsius]]

[6.4, 10.0, 13.6, 6.76, 18.82]