In [2]:
with open('One.txt') as mytext:
    print(mytext.read())

This is a story about dogs
our canine pets
Dogs are furry animals

In [3]:
with open('Two.txt') as mytext:
    print(mytext.read())

This story is about surfing
Catching waves is fun
Surfing is a popular water sport

### Reading Entire Text as a string

In [5]:
with open('One.txt') as mystring:
    entire_text = mystring.read()

In [6]:
entire_text

'This is a story about dogs\nour canine pets\nDogs are furry animals\n'

In [8]:
print(entire_text)

This is a story about dogs
our canine pets
Dogs are furry animals

### Read Each Line as a list

In [9]:
with open('One.txt') as mystring:
    lines = mystring.readlines()

In [10]:
lines

['This is a story about dogs\n',
 'our canine pets\n',
 'Dogs are furry animals\n']

### Reading in Words separately

In [11]:
with open('One.txt') as f:
    words = f.read().lower().split()

In [12]:
words

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

### Creating a "Bag of Words"

In [13]:
with open("One.txt") as f:
    words_one = f.read().lower().split()

In [14]:
words_one

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [15]:
len(words_one)

13

In [18]:
unique_words_one = set(words_one)

In [19]:
len(unique_words_one)

12

In [20]:
#repeat for two.txt

with open('Two.txt') as f:
    words_two = f.read().lower().split()
    unique_words_two = set(words_two)

### Get all the unique words across all the documents

In [26]:
all_unique_words = set()
all_unique_words.update(unique_words_one)
all_unique_words.update(unique_words_two)

In [25]:
all_unique_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [27]:
full_vocab = dict()
i = 0

for w in all_unique_words:
    full_vocab[w] = i
    i = i+1

In [28]:
full_vocab

{'surfing': 0,
 'sport': 1,
 'about': 2,
 'canine': 3,
 'furry': 4,
 'our': 5,
 'dogs': 6,
 'a': 7,
 'animals': 8,
 'popular': 9,
 'catching': 10,
 'fun': 11,
 'are': 12,
 'water': 13,
 'waves': 14,
 'pets': 15,
 'is': 16,
 'this': 17,
 'story': 18}

#### Bag of Words to Frequency Counts

In [32]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = ['']*len(full_vocab)

In [33]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [34]:
two_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [35]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [36]:
for w in full_vocab:
    word_ind = full_vocab[w]
    all_words[word_ind] = w

In [37]:
all_words

['surfing',
 'sport',
 'about',
 'canine',
 'furry',
 'our',
 'dogs',
 'a',
 'animals',
 'popular',
 'catching',
 'fun',
 'are',
 'water',
 'waves',
 'pets',
 'is',
 'this',
 'story']

In [38]:
### Add in counts per word per document

with open('One.txt') as f:
    one_text = f.read().lower().split()
    
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] = one_freq[word_ind]+1

In [47]:
one_text

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [39]:
one_freq

[0, 0, 1, 1, 1, 1, 2, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1]

In [42]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()
    
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] = two_freq[word_ind]+1

In [43]:
two_freq

[2, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 3, 1, 1]

In [46]:
import pandas as pd
pd.DataFrame(data=[one_freq,two_freq],columns=all_words)

,surfing,sport,about,canine,furry,our,dogs,a,animals,popular,catching,fun,are,water,waves,pets,is,this,story
0,0,0,1,1,1,1,2,1,1,0,0,0,1,0,0,1,1,1,1
1,2,1,1,0,0,0,0,1,0,1,1,1,0,1,1,0,3,1,1