In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('moviereviews.csv')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [3]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [4]:
df.shape

(2000, 2)

In [5]:
df.dropna(inplace=True)

In [6]:
df['label'].value_counts()

label
neg    983
pos    982
Name: count, dtype: int64

In [8]:
df['review'].str.isspace().sum()

27

In [12]:
df = df[~df['review'].str.isspace()]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1938 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   1938 non-null   object
 1   review  1938 non-null   object
dtypes: object(2)
memory usage: 45.4+ KB

In [14]:
df['review'].str.isspace().sum()

0

### EDA on bag of words

In [35]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')

In [38]:
matrix = cv.fit_transform(df[df['label']=='neg']['review'])
freq = zip(cv.get_feature_names_out(),matrix.sum(axis=0).tolist()[0])
print('Top 20 words used for Negative Reviews')
print(sorted(freq,key=lambda x : -x[1])[:20])

Top 20 words used for Negative Reviews
[('film', 4063), ('movie', 3131), ('like', 1808), ('just', 1480), ('time', 1127), ('good', 1117), ('bad', 997), ('character', 926), ('story', 908), ('plot', 888), ('characters', 838), ('make', 813), ('really', 743), ('way', 734), ('little', 696), ('don', 683), ('does', 666), ('doesn', 648), ('action', 635), ('scene', 634)]

In [39]:
matrix = cv.fit_transform(df[df['label']=='pos']['review'])
freq = zip(cv.get_feature_names_out(),matrix.sum(axis=0).tolist()[0])
print('Top 20 words used for Positive Reviews')
print(sorted(freq,key=lambda x : -x[1])[:20])

Top 20 words used for Positive Reviews
[('film', 5002), ('movie', 2389), ('like', 1721), ('just', 1273), ('story', 1199), ('good', 1193), ('time', 1175), ('character', 1037), ('life', 1032), ('characters', 957), ('way', 864), ('films', 851), ('does', 828), ('best', 788), ('people', 769), ('make', 764), ('little', 751), ('really', 731), ('man', 728), ('new', 702)]